.App{
    text-align:center;
}
.image{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.title h1{
    color:#61dafb;
}
.info{
    margin:10px;
    text-align:left;
}
.info label{
    font-size:13px;
    color:#323234;
}
.info label,.info strong{
    display:block;
}
